/* Estilos para el contenedor de login */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 2em;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 1em;
    font-size: 1.8em;
}

label {
    display: block;
    text-align: left;
    margin: 0.5em 0 0.2em 0;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.7em;
    margin: 0.5em 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.login-button {
    width: 100%;
    padding: 0.8em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2980b9;
}

.info {
    color: #888;
    font-size: 0.9em;
    margin-top: 1em;
}
