* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #161616;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #161616;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color original del icono */
}

.cart:visited {
    color: inherit; /* Mantiene el color original al ser visitado */
}

.cart:focus {
    outline: none; /* Elimina el contorno al hacer clic */
}

.icons {
    display: inline-block; /* Hace que el contenedor del icono se comporte como un bloque en línea */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
    font-size: 24px; /* Tamaño de los iconos */
    color: #007bff; /* Color de los iconos */
    transition: color 0.3s; /* Efecto de transición suave para el color */
}

a:hover .icons {
    color: #0056b3; /* Cambia el color del icono al pasar el mouse, ajusta según tu diseño */
}
.logo img {
    height: 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    width: 25%;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

.products {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 480px;
    justify-content: space-between;
}

.product-card img {
    max-width: 100%;
    max-height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
}

.precio-original {
    text-decoration: line-through;
    color: #ff6b6b;
    font-weight: bold;
}

.precio-descuento {
    color: #2ecc71;
    font-size: 1.2em;
    font-weight: bold;
}

.descuento-aplicado {
    color: #ffd700;
    font-weight: bold;
    margin-top: 5px;
}


button {
    background-color: #d4af37;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
}

button:hover {
    background-color: #fff;
    color: #000;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 20px;
    margin-top: 20px;
}

footer div {
    max-width: 300px;
}

.footer-links {
    display: flex; /* Para alinear los enlaces en una fila */
    gap: 15px; /* Espacio entre los enlaces */
}

.footer-link {
    color: #007bff; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Efecto de transición para el color */
}

.footer-link:visited {
    color: #007bff; /* Mismo color después de hacer clic */
}

.footer-link:hover {
    color: #0056b3; /* Color al pasar el ratón */
}


.social-media a {
    color: #fff;
    font-size: 1em;
    margin: 5px;
}

.social-media a {
    color: #ffd700;
    font-size: 1.5em;
    text-decoration: none;
}

.social-media a:hover {
    color: #fff;
}